################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PocServiceBus.Api/bin/Debug/netcoreapp3.1
